<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="PORTS" value="COM3,COM8" />
        <add key="BARD_RATE" value="9600" />
        <add key="SERVER_IP" value="10.1.100.181" />
        <add key="CONNECTION_TIMEOUT" value="20" />
        <add key="SERVER_PORT" value="8080" />
        <add key="hibernate_batch_size" value="20" />
        <add key="binding_info_sync_job_time_interval" value="30000"/>
    </appSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>