<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div class="fragment_generate_qrcode" th:fragment="generate_qrcode">
		<form role="form"
			th:action="@{#{page.header.navigation.links.generate_qrcode}}"
			th:object="${qrcodeForm}" method="post">
			<div class="form-group">
				<label for="generate_qrcode_quantity" th:text="#{qrcode.generate.quantity.label.name}">二维码数量</label>
				<input type="text" class="form-control"
					id="generate_qrcode_quantity" th:field="*{count}"/>
			</div>
			<button type="submit" class="btn btn-default"
				th:text="#{qrcode.generate.save.button.name}">生成二维码</button>
		</form>
	</div>
</body>
</html>