<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div class="header" th:fragment="header">
		<p th:text="#{page.header}">化肥厂经销商管理</p>
		<div class="container">
			<div class="navigation_list">
				<ul class="nav nav-pills">
					<li role="presentation" class="dropdown"><a
						th:utext="#{page.header.navigation.button.manage_product}"
						class="dropdown-toggle" data-toggle="dropdown" href="#"
						role="button" area-expanded="false"> </a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								th:href="@{#{page.header.navigation.links.add_product}}"
								th:utext="#{page.header.navigation.button.add_product}" /></li>
						</ul></li>
					<li role="presentation" class="dropdown"><a
						th:utext="#{page.header.navigation.button.manage_distributor}"
						class="dropdown-toggle" data-toggle="dropdown" href="#"
						role="button" area-expanded="false"> </a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								th:href="@{#{page.header.navigation.links.add_distributor}}"
								th:utext="#{page.header.navigation.button.add_distributor}" /></li>
						</ul></li>

					<li role="presentation" class="dropdown"><a
						th:utext="#{page.header.navigation.button.manage_qrcode}"
						class="dropdown-toggle" data-toggle="dropdown" href="#"
						role="button" area-expanded="false"> </a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								th:href="@{#{page.header.navigation.links.generate_qrcode}}"
								th:utext="#{page.header.navigation.button.generate_qrcode}" /></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>