<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div class="fragment_add_product" th:fragment="add_product">
		<form role="form"
			th:action="@{#{page.header.navigation.links.add_product}}"
			th:object="${productForm}" method="post">
			<div class="form-group">
				<label for="productName" th:text="#{product.name}">产品名称</label>
				 <select
					th:field="*{productName}" class="form-control" id="add_product_select">
					<option th:each="productName:${productNames}" th:value="${productName}" th:text="${productName}"></option>
					<option disabled="true" value="placeholder_option"> -- select an option -- </option>
					<option value="select_add">点击添加</option>
				</select>
			</div>
			<!-- Modal pop up when add_select is selected -->
			<div id="addProductModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-sm">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">产品名称</h4>
						</div>
						<div class="modal-body">
							<input id="add_product_name_modal_input" type="text"></input>
							<button type="button" class="btn btn-default add_product_name_model_close_btn"
								data-dismiss="modal">保存</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="quantity" th:text="#{product.quantity}">数量</label>
				<input type="text" class="form-control" id="quantity"
					th:field="*{quantity}" />
			</div>

			<div class="form-group">
				<label for="unit" th:text="#{product.unit.name}">单位</label> <input
					type="text" class="form-control" id="unit" th:field="*{unitName}" />
			</div>
			<button type="submit" class="btn btn-default" th:text="#{product.add.save.button.name}">Submit</button>
		</form>
	</div>
</body>
</html>